{% extends "layout.html" %}

{% block inventario %}
active
{% endblock inventario %}

{% block content %}


<div id="content-header">
	{% block github_buttons %}
		<h1>Inventario</h1>
		<div class="btn-group">
			<a class="btn btn-large tip-bottom" href="{% url inventory_home %}" title="Ver Inventario"><i class="icon-search"></i></a>
			<a class="btn btn-large tip-bottom" href="{% url inventory_create %}" title="Crear Inventario"><i class="icon-plus-sign"></i></a>
		</div>
	{% endblock %}
</div>
	
	{% block sub_content %}{% endblock %}

{% endblock content %}
{% block extrascripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/unicorn.tables.js"></script>
{% endblock extrascripts %}