{% extends "inventory/base.html" %}

{% block github_buttons %}
    <h1>Seguimiento DPF</h1>
    <div class="btn-group">
        <a class="btn btn-large tip-bottom" href="{% url inventory_dpf %}" title="Ver DPF"><i class="icon-search"></i></a>
        <a class="btn btn-large tip-bottom" href="{% url inventory_dpf_create %}" title="Crear DPF"><i class="icon-plus-sign"></i></a>
    </div>
{% endblock github_buttons %}

{% block sub_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-info">
                Recuerde los botones mostrados arriba. Con ellos puede navegar al rededor de esta sección
                <a href="#" data-dismiss="alert" class="close">×</a>
            </div>

            <div class="widget-box">
                <div class="widget-title">
                    <h5>Listado DPF</h5>
                </div>
                <div class="widget-content nopadding">
                    {# Render a table with every item in the object available #}
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Inventario</th>
                                <th>Tipo</th>
                                <th>Cantidad</th>
                                <th>Fecha de pago</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in object_list %}                              
                            <tr>
                                <td><a href="{% url inventory_dpf_create_params dpf_id=o.pk %}">{{ o.pk }}</a></td>
                                <td><a href="{% url inventory_create_params inventory_id=o.pk %}">{{ o.inventory.pk }}</a></td>
                                <td>{{ o.utility_type.name }}</td>
                                <td>{{ o.amount }}</td>
                                <td>{{ o.payment_date }}</td>
                                <td><a href="{% url inventory_dpf_delete dpf_id=o.pk %}" class="btn btn-danger">X</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>                  
        </div>
    </div>
</div>
{% endblock %}