{% extends "inventory/base.html" %}

{% block github_buttons %}
	<h1>Etapas</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" href="{% url inventory_section %}" title="Ver Etapas"><i class="icon-search"></i></a>
		<a class="btn btn-large tip-bottom" href="{% url inventory_section_create %}" title="Crear Etapa"><i class="icon-plus-sign"></i></a>
	</div>
{% endblock %}

{% block sub_content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<form action="." method="post" class="">
					<div class="widget-box">
						<div class="widget-title">
							<h5>Captura de Etapa</h5>
						</div>
						<div class="widget-content nopadding form-horizontal">
							{% csrf_token %}
							{% for field in form %}
							{% if field.is_hidden %}
								{{ field }}
							{% else %}
								<div class="control-group {% if field.errors %}error{% endif %}">
									<div class="control-label">
										{{ field.label_tag }}
									</div>
									<div class="controls">
										{{ field }}
										<span class="help-block">
											{{ field.errors }}
										</span>
									</div>
								</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>

					<div class="widget-box">
						<div class="widget-title">
							<h5>Acciones</h5>
						</div>
						<div class="widget-content no-padding form-horizontal">
							<div class="form-actions">
								<input type="submit" class="btn btn-success" value="Guardar" />
								{# <input type="submit" class="btn btn-primary" value="Aprovar" /> #}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock sub_content %}