{% extends "layout_2_col.html" %}

{% block extrahead %}
	{{ block.super }}
{% endblock extrahead %}

{% block left_side_bar %}
	<div class="row filters">
		<div class="span3">
			<h3>Filtros</h3>
			<ul class="nav nav-list bs-docs-sidenav affix">
		          <li class=""><a href="#dropdowns"><i class="icon-chevron-right"></i> <input type="text" placeholder="ID"></a></li>
		          <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> <input type="text" placeholder="CW"></a></li>
		          <li class=""><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> <input type="text" placeholder="Macrolote"></a></li>
		          <li class=""><a href="#navs"><i class="icon-chevron-right"></i> <input type="text" placeholder="Lote"></a></li>
		          <li class=""><a href="#navbar"><i class="icon-chevron-right"></i> <input type="text" placeholder="Calle"></a></li>
		          <li class=""><a href="#breadcrumbs"><i class="icon-chevron-right"></i> <input type="text" placeholder="No. Oficial"></a></li>
		          <li class=""><a href="#pagination"><i class="icon-chevron-right"></i> <input type="text" placeholder="Extensión"></a></li>
		          <li class=""><a href="#labels-badges"><i class="icon-chevron-right"></i> <input type="text" placeholder="Prototipo"></a></li>
		          <li class=""><a href="#typography"><i class="icon-chevron-right"></i> <input type="text" placeholder="Etapa"></a></li>
		          <li class=""><a href="#thumbnails"><i class="icon-chevron-right"></i> <input type="text" placeholder="Precio"></a></li>
		          <li class=""><a href="#alerts"><i class="icon-chevron-right"></i> <input type="text" placeholder="Fecha Terminación"></a></li>
		          <li><input type="button" value="Filtrar"></li>
		    </ul>
		</div>
	</div>
	
{% endblock left_side_bar %}

{% block header %}

{% endblock header %}

{% block content %}
<div class="span9">
	<ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">EditVer en Mapa</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">EditVer en Mapa</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">EditVer en Mapa</a></p>
                  </div>
                </div>
              </li>

              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">EditVer en Mapa</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">EditVer en Mapa</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">EditVer en Mapa</a></p>
                  </div>
                </div>
              </li>

              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">EditVer en Mapa</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">Ver en Mapa</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Casa Modelo 2000</h3>
                    <ul>
                      <li>Superficie: xxxxx</li>
                      <li>Macrolote: xxxxxx</li>
                      <li>Lote: xxxxxxxx</li>
                    </ul>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar Prospecto</a>
                    <p> <a href="#" class="btn">Ver en Mapa</a></p>
                  </div>
                </div>
              </li>
            </ul>
</div>

<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
 
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Agregar Prospecto</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li><input type="text" placeholder="Nombre Completo"></li>
      <li><input type="text" placeholder="Correo Electrónico"></li>
      <li><input type="text" placeholder="Teléfono"></li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}
	{{ block.super }}
{% endblock extrascripts %}