<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-home"></i> Inicio</a>
  <ul>
    <li class="{% block inicio %}{% endblock %}"><a href=""><i class="icon icon-home"></i> <span>Inicio</span></a></li>
    <li class="submenu {% block inventario %}{% endblock %}">
      <a href="#"><i class="icon icon-th-list"></i> <span>Inventario</span> <span class="label">3</span></a>
      <ul>
	<li class="{% block listado_inventario %}{% endblock %}"><a href="form-common.html">Listado de Inventario</a></li>
	<li class="{% block credito_puente%}{% endblock %}"><a href="form-common.html">Crédito Puente</a></li>
	<li class="{% block documentacion %}{% endblock %}"><a href="form-validation.html">Documentación</a></li>
	<li class="{% block ventas %}{% endblock %}"><a href="form-wizard.html">Ventas</a></li>
      </ul>
    </li>
    <li class="submenu {% block clientes %}{% endblock %}">
      <a href="#"><i class="icon icon-file"></i> <span>Clientes</span> <span class="label">4</span></a>
      <ul>
	<li class="{% block listado_cliente %}{% endblock %}"><a href="invoice.html">Listado de Clientes</a></li>
	<li class="{% block cobranza %}{% endblock %}"><a href="chat.html">Cobranza</a></li>
	<li class="{% block entrega_vivienda %}{% endblock %}"><a href="calendar.html">Entrega de Vivienda</a></li>
      </ul>
    </li>
    <li class="{% block prospeccion %}{% endblock %}">
      <a href="charts.html"><i class="icon icon-signal"></i> <span>Prospección</span></a>
    </li>
    <li class="{% block comision %}{% endblock %}">
      <a href="widgets.html"><i class="icon icon-inbox"></i> <span>Comisiones</span></a>
    </li>
  </ul>
  
</div>
