<div class="widget-box">
    <div class="widget-title">
        <h5>Listado de Clientes</h5>
    </div>
    <div class="widget-content nopadding">
        {# Render a table with every item in the object available #}
        <table class="table table-bordered data-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Vendedor</th>
                <th>Nombre del cliente</th>
                <th>Email del cliente</th>
                <th>Fecha de entrega</th>
                <th>Estatus</th>
                {% if perms.payment.change_payment or perms.client.change_client %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for o in object_list %}
                <tr>
                    <td>
                        {% if perms.client.change_client %}
                            <a href="{% url client_edit client_id=o.pk %}">{{ o.pk }}</a>
                        {% else %}
                            {{ o.pk }}
                        {% endif %}
                    </td>
                    <td>{{ o.prospection.salesperson.first_name }} {{ o.prospection.salesperson.last_name }}</td>
                    <td>{{ o.prospection.get_full_name }}</td>
                    <td>{{ o.prospection.email }}</td>
                    <td>{{ o.delivery_date }}</td>
                    <td>{{ o.status }}</td>
                    {% if perms.client.change_client or perms.payment.change_payment %}
                    <td>
                        {% if perms.client.change_payment %}
                        <a href="{% url client_financial_params client_id=o.pk %}" class="btn btn-primary">Cobranza</a>
                        {% endif %}
                        
                        {% if o.status == "Cancelado" %}
                            <a href="{% url client_to_prospection client_id=o.pk %}"
                               class="btn btn-primary">Reactivar</a>
                        {% else %}
                            <a href="{% url client_to_prospection client_id=o.pk %}" class="btn btn-danger">Cancelar</a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
