#content-pane {
    margin-top: 60px;
}

.filters {
    margin-bottom: 18px;
}

input {
    width: 150px;
}

#login-box {
    margin-left: 400px;
    text-align: center;
}

#map-container {
    width: 968px;
    height: 271px;
    background: url(../img/map-background.png) no-repeat;
    background-size: 100%;
}

ul.time-filters {
    display: block;
    list-style: none;
}

ul.time-filters li {
    float: left;
    margin-right: 18px;
}

td.sub-header-separator{
    background-color: black;
    color: white;
}

td.sub-sub-header-separator{
    background-color: silver;
    color: white;
}