#content-pane {
	margin-top: 60px;
}

.filters {
	margin-bottom: 18px;
}

input {
	width: 150px;
}

#login-box {
	margin-left: 400px;
	text-align: center;
}

#map-container {
    width: 950px;
    height: 336px;
    background-image: url(../img/map-background.png);
}