{% extends "client/base.html" %}

{% block sub_content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="alert alert-info">
        Recuerde los botones mostrados arriba. Con ellos puede navegar al rededor de esta sección
        <a href="#" data-dismiss="alert" class="close">×</a>
    </div>

    <div class="widget-box">
        <div class="widget-title">
          <h5>Listado de Clientes</h5>
      </div>
      <div class="widget-content nopadding">
          {# Render a table with every item in the object available #}
          <table class="table table-bordered data-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Vendedor</th>
                <th>Nombre del cliente</th>
                <th>Email del cliente</th>
                <th>Inventario</th>
                <th>Estatus</th>
                {% if perms.client.change_client or perms.payment.change_payment %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
          {% for o in object_list %}                                
          <tr>
            <td>
                {% if perms.client.change_client %}
                    <a href="{% url client_edit ct='client' resource_id=o.pk %}">{{ o.pk }}</a>
                {% else %}
                    {{ o.pk }}
                {% endif %}
            </td>
            <td>{{ o.prospection.salesperson.first_name }} {{ o.prospection.salesperson.last_name }}</td>
            <td>{{ o.prospection.get_full_name }}</td>
            <td>{{ o.prospection.email }}</td>
            <td>
                {% if o.inventory %}
                {% if perms.inventory.change_inventory %}
                <a href="{% url inventory_create_params o.inventory.pk %}">{{ o.inventory.unique_id }}</a>
                {% else %}
                {{ o.inventory.unique_id }}
                {% endif %}
                {% else %}
                Sin inventario
                {% endif %}
            </td>
            <td>{{ o.status }}</td>
            {% if perms.client.change_client or perms.payment.change_payment %}
            <td>
              {% if perms.payment.change_payment %}
                <a href="{% url client_financial_params client_id=o.pk %}" class="btn btn-primary">Cobranza</a>
              {% endif %}
              
              {% if o.status == "Cancelado" %}
                <a href="{% url client_to_prospection client_id=o.pk %}" class="btn btn-primary">Reactivar</a>
              {% else %}
                <a href="{% url client_to_prospection client_id=o.pk %}" class="btn btn-danger">Cancelar</a>
              {% endif %}
            </td>
            {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
</div>                    
</div>
</div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/client/scripts.js"></script>
{% endblock extrascripts %}
