{% extends "prospection/base.html" %}

{% block sub_content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="alert alert-info">
				Recuerde los botones mostrados arriba. Con ellos puede navegar al rededor de esta sección
				<a href="#" data-dismiss="alert" class="close">×</a>
			</div>

			<div class="widget-box">
				<div class="widget-title">
					<h5>Listado de Prospecciones</h5>
				</div>
				<div class="widget-content nopadding">
					{# Render a table with every item in the object available #}
					<table class="table table-bordered data-table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Vendedor</th>
								<th>Nombre del prospecto</th>
								<th>Email del prospecto</th>
								<th>Fecha de visita</th>
								<th>Estatus</th>
								{% if perms.prospection.delete_prospection %}
									<th>Borrar</th>
								{% endif %}
								{% if perms.prospection.change_prospection %}
									<th>Apartar</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for o in object_list %}								
							<tr>
								<td><a href="{% url prospection_create_params prospection_id=o.pk %}">{{ o.pk }}</a></td>
								<td>{{ o.salesperson.first_name }} {{ o.salesperson.last_name }}</td>
								<td>{{ o.get_full_name }}</td>
								<td>{{ o.email }}</td>
								<td>{{ o.visitation_date }}</td>
								<td>{{ o.status }}</td>
								{% if perms.prospection.delete_prospection %}
									<td><a href="{% url prospection_delete prospection_id=o.pk %}" class="btn btn-danger">X</td>
								{% endif %}
								{% if perms.prospection.change_prospection %}
									<td><a href="{% url prospection_apartar %}?prospection_id={{ o.pk}}" class="btn btn-danger">Apartar</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>					
		</div>
	</div>
</div>
{% endblock %}