<!DOCTYPE html>
<html lang="es">
    <head>
        <title>PCTV</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        {# <link rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.css" />    #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/uniform.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" /> 
        <link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.main.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.red.css" class="skin-color" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
        {% block extrastyles %}{% endblock extrastyles %}
    </head>
    <body>

        {% block layout %}{% endblock layout %}
        {% comment %}
        <script src="{{ STATIC_URL }}js/excanvas.min.js"></script>
        {% endcomment %}
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.ui.custom.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% comment %}
        <script src="{{ STATIC_URL }}js/jquery.flot.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.flot.resize.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.peity.min.js"></script>
        <script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
        {% endcomment %}
        <script src="{{ STATIC_URL }}js/jquery.uniform.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.chosen.js"></script>
        <script src="{{ STATIC_URL }}js/unicorn.js"></script>
        {% comment %}
        <script src="{{ STATIC_URL }}js/unicorn.dashboard.js"></script>
        {% endcomment %}
        {% block extrascripts %}{% endblock extrascripts %}
    </body>
</html>