{% extends "front_end/layout.html" %}
{% block content %}
		<div class="container" id="content-pane">
			<div class="row">
				<div class="span9">
					<div class="row">
						<table class="table table-bordered">
							<tr>
								<th>ESTATUS CLIENTE</th>
								<th>NO VIV</th>
								<th>MONTO CRED.</th>
								<th>EJERCIDO</th>
								<th>X EJERCER</th>
								<th>PAGADO</th>
								<th>SALDO</th>
							</tr>
							<tr>
								<th>ETAPA 1</th>
								<th><a href="#modalClients" data-toggle="modal">1</a></th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
							</tr>
							<tr>
								<td>5%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>20%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>30%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>50%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>65%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>80%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>85%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<th>ETAPA 2</th>
								<th><a href="#modalClients" data-toggle="modal">1</a></th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
							</tr>
							<tr>
								<td>5%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>20%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>30%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>40%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>65%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>80%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>85%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>99%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>100%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<th>ETAPA 3</th>
								<th><a href="#modalClients" data-toggle="modal">1</a></th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
							</tr>
							<tr>
								<td>5%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>20%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>30%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>40%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>50%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>65%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>80%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>85%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>100%</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<th>Total general</th>
								<th><a href="#modalClients" data-toggle="modal">1</a></th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
								<th>$55,555</th>
							</tr>
						</table>
					</div>
				</div>
				<div class="span3">
					<div class="row">
						<table class="table table-bordered">
							<tr>
								<th>&nbsp;</th>
								<th colspan="2">ESTATUS CRÉDITO PUENTE</th>
								<th>&nbsp;</th>
							</tr>
							<tr>
								<th>ESTATUS CLIENTE</th>
								<th>LIBERADO</th>
								<th>NO LIBERADO</th>
								<th>TOTAL GENERAL</th>
							</tr>
							<tr>
								<td>FIRMADO</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>CON CLIENTE</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>BLOQUEADO</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>LIBRE</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>EN OBRA</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>Total general</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</table>
					</div>
					<div class="row">
						<table class="table table-bordered">
							<tr>
								<th>&nbsp;</th>
								<th colspan="2">ESTATUS CRÉDITO PUENTE</th>
								<th>&nbsp;</th>
							</tr>
							<tr>
								<th>ESTATUS CLIENTE</th>
								<th>LIBERADO</th>
								<th>NO LIBERADO</th>
								<th>TOTAL GENERAL</th>
							</tr>
							<tr>
								<td>FIRMADO</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>CON CLIENTE</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>BLOQUEADO</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>LIBRE</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>EN OBRA</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
							<tr>
								<td>Total general</td>
								<td>$55,555</td>
								<td>$55,555</td>
								<td>$55,555</td>
							</tr>
						</table>
					</div>
				</div>
			</div><!-- /row-fluid -->
		</div><!-- /container-fluid -->

		<div class="modal hide fade" id="modalClients">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Clientes</h3>
			</div>
			<div class="modal-body">
				<table class="table">
					<tr>
						<th>NOMBRE</th>
						<th>EMAIL</th>
						<th>TELEFONO</th>
						<th>MEDIO</th>
						<th>INSTITUCIÓN FINANCIERA</th>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
		</div>

		<!-- Jquery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type=
		"text/javascript">
		</script><!-- Bootstrap -->
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
		</script>
		<script type="text/javascript" src="datatables/media/js/jquery.dataTables.min.js">
		</script>
	</body>
</html>
{% endblock %}

{% block extrascripts %}
{% endblock %}