{% extends "front_end/layout.html" %}
{% block content %}
		<div class="container" id="content-pane">
			<div class="row">
				<form action="" method="">
					<div class="row">
						<div class="span6">
							<label>NOMBRE CLIENTE</label>
							<input type="text" class="span6" name="" />
						</div>
						<div class="span4">
							<label>NOMBRE CLIENTE</label>
							<input type="text" class="span4" name="" />
						</div>
					</div>
					<div class="row">
						<div class="span6">
							<label>VENDERDOR ASIGNADO</label>
							<input type="text" class="span6" name="" />
						</div>
						<div class="span2">
							<label>NO. OFICIAL</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>PROY. OBRA</label>
							<input type="text" class="span2" name="" />
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<label>Manz</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>Macro Lote</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>Lote</label>
							<input type="text" class="span2" name="" />
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<label>PRECIO</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>FECHA APARTADO</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>APARTADO</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>MONTO CRÉDITO</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>MONTO CRÉDITO</label>
							<input type="text" class="span2" name="" />
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<table class="table table-bordered">
								<tr>
									<td>ENGANCHE 1</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 2</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 3</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 4</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 5</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 6</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 7</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 8</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 9</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 10</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
							</table>
						</div>
						<div class="span4">
							<table class="table table-bordered">
								<tr>
									<td>ENGANCHE 1 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 2 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 3 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 4 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 5 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 6 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 7 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 8 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 9 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
								<tr>
									<td>ENGANCHE 10 FECHA</td>
									<td><input type="text" class="span2" name="" /></td>
								</tr>
							</table>
						</div>
						<div class="span4">
							<table class="table table-bordered">
								<tr>
									<td>ESTATUS ENGANCHE 1</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 2</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 3</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 4</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 5</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 6</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 7</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 8</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 9</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>ESTATUS ENGANCHE 10</td>
									<td>
										<select class="span2" name="">
											<option value="">VIGENTE</option>
											<option value="">PAGADO</option>
											<option value="">VENCIDO</option>
											<option value="">CANCELADO</option>
										</select>
									</td>
								</tr>
							</table>
						</div><!-- /span3 -->
					</div><!-- /row -->
					<div class="row">
						<div class="span2">
							<label>ESTATUS CLIENTE</label>
							<td>
								<select class="span2" name="">
									<option value="">SIN CLIENTE</option>
									<option value="">INTEGRACIÓN</option>
									<option value="">ANALISIS</option>
									<option value="">PREAUTORIZADO</option>
									<option value="">SALVEDAD</option>
									<option value="">AUTORIZADO</option>
									<option value="">DICTAMINACIÓN</option>
									<option value="">POR FIRMAR</option>
									<option value="">FIRMADO</option>
									<option value="">COBRADO</option>
									<option value="">VIV. ENTREGADA</option>
									<option value="">CANCELADO</option>
								</select>
							</td>
						</div>
						<div class="span2">
							<label>FECHA INTEGRACIÓN</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>FECHA AUTORIZACIÓN</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>AVALÚO</label>
							<select class="span2" name="">
								<option value="">SIN SOLICITAR</option>
								<option value="">EN PROCESO</option>
								<option value="">VIGENTE</option>
								<option value="">CANCELADO</option>
							</select>
						</div>
						<div class="span2">
							<label>FECHA PROYECCIÓN FIRMA</label>
							<input type="text" class="span2" name="" />
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<label>FECHA FIRMA</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>FECHA COBRO</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>NOTARIA</label>
							<input type="text" class="span2" name="" />
						</div>
						<div class="span2">
							<label>FECHA ENTREGA VIV.</label>
							<input type="text" class="span2" name="" />
						</div>
					</div>
					<div class="row">
						<table class="table table-bordered">
							<tr>
								<td>SEMANA APARTADO</td>
								<td>MES APARTADO</td>
								<td>SEMANA FIRMA</td>
								<td>SEMANA ENTREGA VIV</td>
								<td>MES ENTREGA VIV</td>
								<td>CAJON PROY. FIRMA</td>
								<td>DÍAS APARTADO</td>
								<td>DÍAS FIRMA</td>
							</tr>
							<tr>
								<td><input type="text" class="input-small" name="" /></td>
								<td><input type="text" class="input-small" name="" /></td>
								<td><input type="text" class="input-small" name="" /></td>
								<td><input type="text" class="input-small" name="" /></td>
								<td><input type="text" class="input-small" name="" /></td>
								<td><input type="text" class="input-small" name="" /></td>
								<td><input type="text" class="input-small" name="" /></td>
								<td><input type="text" class="input-small" name="" /></td>
							</tr>
						</table>
					</div>
					<div class="row">
						<label>COMENTARIO SEGUIMIENTO CLIENTE</label>
						<textarea class="span12" rows="15">
						</textarea>
					</div>
				</form>
			</div><!-- /row-fluid -->
		</div><!-- /container-fluid -->
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$(".datatablethis").dataTable();
	});
</script>
{% endblock %}