	{% extends "front_end/layout.html" %}
	{% block content %}
	<div class="container" id="content-pane">
		<div class="row">
			<div class="span12">
				<div class="row">
					<h3>Activación</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>Vendedor</th>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>Total general</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>AMG</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>AR</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>MRV</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>SNM</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<h3>Base de Datos</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>Vendedor</th>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>Total general</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>AMG</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>AR</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>MRV</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>SNM</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<h3>Expo</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>Vendedor</th>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>Total general</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>AMG</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>AR</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>MRV</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>SNM</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<h3>Fraccionamiento</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>Vendedor</th>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>Total general</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>AMG</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>AR</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>MRV</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>SNM</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<h3>Publicidad</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>Vendedor</th>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>Total general</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>AMG</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>AR</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>MRV</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>SNM</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<h3>Recomendado</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>Vendedor</th>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>Total general</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>AMG</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>AR</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>MRV</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>SNM</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<h3>Vendedor</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>Vendedor</th>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>Total general</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>AMG</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>AR</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>MRV</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
							<tr>
								<td>SNM</td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<h3>Total General</h3>
					<table class="table table-bordered datatablethis">
						<thead>
							<tr>
								<th>HASTA 12 MIL</th>
								<th>ENTRE 12 Y 18 MIL</th>
								<th>ENTRE 18 Y 25 MIL</th>
								<th>ENTRE 25 Y 35 MIL</th>
								<th>ENTRE 35 Y 45 MIL</th>
								<th>MAYOR A 45 MILES</th>
								<th>TOTAL</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
								<td><a href="#modalClients" data-toggle="modal">1</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div><!-- /row-fluid -->
	</div><!-- /container-fluid -->

	<div class="modal hide fade" id="modalClients">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Clientes</h3>
		</div>
		<div class="modal-body">
			<table class="table datatablethis">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>EMAIL</th>
						<th>TELEFONO</th>
						<th>MEDIO</th>
						<th>INSTITUCIÓN FINANCIERA</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
					<tr>
						<td>Francisco Gomez Álvares</td>
						<td>francisco@mail.com</td>
						<td>55-5555-5555</td>
						<td>EXPO</td>
						<td>AMG</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		</div>
	</div>
	{% endblock content %}
	{% block extrascripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".datatablethis").dataTable();
		});
	</script>
	{% endblock %}