{% extends "layout.html" %}

{% block comision %}
active
{% endblock comision %}



{% block content %}
<div id="content-header">
	<h1>Comisión</h1>

  <div class="btn-group">
    <a class="btn btn-large tip-bottom" href="{% url commission_csv %}" title="Exportar CSV"><i class="icon-file"></i></a>
	</div>

</div>

	{% block sub_content %}{% endblock %}

{% endblock content %}
{% block extrascripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/unicorn.tables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/commission/commission.js"></script>
{% endblock extrascripts %}
