{% extends "commission/base.html" %}

{% block sub_content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<h5>Listado de Comisiones</h5>
				</div>
				<div class="widget-content nopadding">
					{# Render a table with every item in the object available #}
					<table class="table table-bordered data-table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Vendedor</th>
								<th>Nombre del prospecto</th>
								<th>Clave del inventario</th>
								<th>Borrar</th>
							</tr>
						</thead>
						<tbody>
							{% for o in object_list %}								
							<tr>
								<!-- <td><a href="{% url prospection_create_params prospection_id=o.pk %}">{{ o.pk }}</a></td> -->
								<td>{{ o.salesperson.first_name }} {{ o.salesperson.last_name }}</td>
								<td>{{ o.get_full_name }}</td>
								<td>{{ o.email }}</td>
								<td>{{ o.visitation_date }}</td>
								<td>{{ o.status }}</td>
								<!-- <td><a href="{% url prospection_delete prospection_id=o.pk %}" class="btn btn-danger">X</td> -->
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>					
		</div>
	</div>
</div>
{% endblock %}
