{% extends "payment/base.html" %}

{% load paymenttags %}
{% load humanize %}

{% block enganches %}
    active
{% endblock %}

{% block sub_content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    Recuerde los botones mostrados arriba. Con ellos puede navegar al rededor de esta sección
                    <a href="#" data-dismiss="alert" class="close">×</a>
                </div>

                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">Enganches por unidad</a></li>
                            <li><a data-toggle="tab" href="#tab2">Enganches por cantidad</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        {# Render a table with every item in the object available #}
                        <div class="tab-pane active" id="tab1">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>STATUS</th>
                                    <th>{{ months.0 }}</th>
                                    <th>{{ months.1 }}</th>
                                    <th>{{ months.2 }}</th>
                                    <th>{{ months.3 }}</th>
                                    <th>{{ months.4 }}</th>
                                    <th>{{ months.5 }}</th>
                                    <th>{{ months.6 }}</th>
                                    <th>{{ months.7 }}</th>
                                    <th>TOTAL</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, val in object_list.items %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.0 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.0 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.1 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.1 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.2 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.2 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.3 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.3 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.4 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.4 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.5 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.5 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.6 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.6 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-date="{{ months.7 }}"
                                               data-status="{{ key }}">{{ val|get_by_month:months.7 }}</a></td>
                                        <td><a class="render_table" href="{% url payment_ajax %}"
                                               data-status="{{ key }}">{{ val|get_by_month }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane" id="tab2">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>STATUS</th>
                                    <th>{{ months.0 }}</th>
                                    <th>{{ months.1 }}</th>
                                    <th>{{ months.2 }}</th>
                                    <th>{{ months.3 }}</th>
                                    <th>{{ months.4 }}</th>
                                    <th>{{ months.5 }}</th>
                                    <th>{{ months.6 }}</th>
                                    <th>{{ months.7 }}</th>
                                    <th>TOTAL</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, val in object_list.items %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>${{ val|get_quantity_by_month:months.0|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month:months.1|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month:months.2|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month:months.3|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month:months.4|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month:months.5|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month:months.6|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month:months.7|floatformat:2|intcomma }}</td>
                                        <td>${{ val|get_quantity_by_month|floatformat:2|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="payment-info" class="modal hide" style="display: none;">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button">×</button>
                        <h3>Detalle de enganches</h3>
                    </div>
                    <div id="payment-info-table" class="modal-body">
                        <div class="progress progress-striped progress-danger active">
                            <div style="width: 100%;" class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/payment/dashboard.js"></script>
{% endblock extrascripts %}

